<div class='background-form'>
  <div class='row justify-content-center align-items-center h-100'>
    <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
      <center>
        <h2>Sign up</h2>
      </center>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :name %><br/>
          <%= f.text_field :name, autocomplete: "name", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>
              characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-outline-primary' %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
