<div class='background-form'>
  <div class='row justify-content-center align-items-center h-100'>
    <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
      <center>
        <h2>Log in</h2>
      </center>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.text_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-outline-primary" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
</div>
