<div class='background-form'>
  <div class='row justify-content-center align-items-center h-100'>
    <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
      <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %>
            prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :title%>
        <%= form.text_field :title, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :content%>
        <%= form.text_area :content, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :tag_list %>
        <%= form.text_field :tag_list, value: form.object.tag_list.to_s, class: 'form-control' %>
      </div>

      <span class="picture">
        <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>

      <div class="actions">
        <%= form.submit 'POST', class: 'btn btn-outline-primary' %>
      </div>

    <% end %>

  </div>
</div>
</div>
