
  <center>
    <h1>Posts</h1>
  </center>
  <%= render 'layouts/flash' %>
  <% @posts.each do |post| %>
    <div class="timeline">
      <div class="container left">
        <div class="content">
          <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" alt="Card image cap" style="width: 45px;">
          <strong>Title:<%= post.title %></strong>
          <h2><%= post.created_at %></h2>
          <p><%= post.content %><br></p>
          <%= image_tag post.picture.url if post.picture? %>
          <h4>Tags</h4>
          <%= render post.tags %> <br> <br>
          <%= link_to 'Read more...', post_path(post), class:'btn btn-primary' %>
          <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure' }, class: 'btn btn-outline-danger' %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-warning' %>
        </div>
      </div>
    </div>
    <br>
  <% end %>
  <% if current_user.present? %>
    <center><%= link_to 'New Post', new_post_path, class: 'btn btn-outline-primary'%></center>
  <% else %>
    <center><%= link_to 'Sign in to create post', new_user_session_path, class: 'btn btn-outline-primary' %>
  <% end %>
</div>


<%= will_paginate @post %>
