
  <br><br><br>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" alt="Card image cap" style="width: 45px;">
        <strong>Title:<%= @post.title %></strong>
        <h2><%= @post.created_at %></h2>
        <p><%= @post.content %><br></p>
        <div><%= render @post.tags %></div>
        <%= image_tag @post.picture.url if @post.picture? %> <br> <br>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btb btn-outline-primary' %>
        |
        <%= link_to 'Back', posts_path, class: 'btb btn-outline-primary' %>

        <%= form_for @comment do |form| %>
      <% else %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(comment.errors.count, "error") %>
              prohibited this comment from being saved:</h2>

            <ul>
              <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.hidden_field :post_id, :value => @post.id %>
        </div>

        <div class="form-group">
          <%= form.text_area :content, class: 'form-control'%>
        </div>

        <div class="actions">
          <%= form.submit 'Comment', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <br>
      <%= @post.comments.each do |c| %>
        <div class="timeline">
          <div class="container left">
            <div class="content">
              <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" alt="Card image cap" style="width: 45px;">
              <%= c.user.name %>
              <small> <i>Posted on <%= c.created_at %> </i> </small> <br>
              <%= c.content %>
              <br>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
</div>
