<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
       <% if current_user.present? %>
        <li class="nav-item">
          <%= link_to 'Read post', posts_path , class: "nav-link js-scroll-trigger" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Create post', new_post_path , class: "nav-link js-scroll-trigger" %>
        </li>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Profile</a>
            <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Read post', posts_path , class: "nav-link js-scroll-trigger" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path , class: "nav-link js-scroll-trigger" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign in', user_session_path , class: "nav-link js-scroll-trigger" %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
