<!DOCTYPE html>
<html>
  <head>
    <title>FrontendCore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' %>
</body>
</html>
